 *
 -moz-box-sizing: border-box
 -webkit-box-sizing: border-box
 box-sizing: border-box
 margin: 0
 padding: 0


html, body
  line-height: 1
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif
ul, li
    list-style: none
.clear
  clear: both
  &:after, &:before
    content: " "
    display: table
    clear: both

