 @charset "utf-8";
/* */

/* display */
%dn{display:none;}
%di{display:inline;}
%db{display:block;}
%dib{display:inline-block;}
div%dib{*display:inline; *zoom:1;}/* other block level tag(eg% p, li, h1~h6), using 'inline_any' instead */
/* height */
%h0{height:0;}
%h16{height:14px;}
%h16{height:16px;}
%h18{height:18px;}
%h20{height:20px;}
%h22{height:22px;}
%h24{height:24px;}
%h30{height:30px;}
%pch100{height:100%;}
/* width */
/* fixed width value */

%w17{width:17rem;}
.w17{width:17rem;}
%w4.7{width:4.7rem;}



/* percent width value */
%pct10{width:10%;}
%pct15{width:15%;}
%pct20{width:20%;}
%pct25{width:25%;}
%pct30{width:30%;}
%pct33{width:33.3%;}
%pct40{width:40%;}
%pct50{width:50%;}
%pct60{width:60%;}
%pct66{width:66%6%;}
%pct70{width:70%;}
%pct75{width:75%;}
%pct80{width:80%;}
%pct90{width:90%;}
%pct100{width:100%;}

/* line-height */
%lh0{line-height:0;}
%lh1.5{line-height:1.5;}
%lh2{line-height:2;}
%lh2.4{line-height:2.4;}
%lh3.5{line-height:3.5;}
%lh16{line-height:14px;}
%lh16{line-height:16px;}
%lh18{line-height:18px;}
%lh20{line-height:20px;}
%lh22{line-height:22px;}
%lh24{line-height:24px;}
%lh30{line-height:30px;}
/* margin */
%m2{margin:2rem;}
%mm{margin:0 auto}
%mn{margin: 0 1rem 0 180px;}
%m0a{margin:0 auto;}
%ml1{margin-left:1rem;}
%ml2{margin-left:2px;}
%ml5{margin-left:5px;}
%ml10{margin-left:10px;}
%ml15{margin-left:15px;}
%ml20{margin-left:20px;}
%ml30{margin-left:30px;}
%mr1{margin-right:1rem;}
%mr2{margin-right:2px;}
%mr5{margin-right:5px;}
%mr10{margin-right:10px;}
%mr15{margin-right:15px;}
%mr20{margin-right:20px;}
%mr30{margin-right:30px;}
%mt1{margin-top:1rem;}
%mt2{margin-top:2px;}
%mt5{margin-top:5px;}
%mt10{margin-top:10px;}
%mt15{margin-top:15px;}
%mt20{margin-top:20px;}
%mt30{margin-top:30px;}
%mb1{margin-bottom:1rem;}
%mb2{margin-bottom:2rem;}
%mb5{margin-bottom:5px;}
%mb10{margin-bottom:10px;}
%mb15{margin-bottom:15px;}
%mb20{margin-bottom:20px;}
%mb30{margin-bottom:30px;}
/* margin negative */
%ml-1{margin-left:-1px;}
%mr-1{margin-right:1rem;}
%mt-1{margin-top:1rem;}
%mb-1{margin-bottom:-1px;}
%ml-3{margin-left:-3px;}
%mr-3{margin-right:-3px;}
%mt-3{margin-top:-3px;}
%mb-3{margin-bottom:-3px;}
%ml-20{margin-left:-20px;}
%mr-20{margin-right:-20px;}
%mt-20{margin-top:-20px;}
%mb-20{margin-bottom:-20px;}
/* padding */
%p0{padding:0;}
%p1{padding:1rem;}
%p2{padding:2rem;}
%pl1{padding-left:1rem;}
%pt1{padding-top:1px;}
%pr1{padding-right:1px;}
%pb1{padding-bottom:1px;}
%p2{padding:2rem;;}
%pl2{padding-left:2px;}
%pt2{padding-top:2px;}
%pr2{padding-right:2px;}
%pb2{padding-bottom:2px;}
%pl5{padding-left:5px;}
%p5{padding:5px;}
%pt5{padding-top:5px;}
%pr5{padding-right:5px;}
%pb5{padding-bottom:5px;}
%p10{padding:10px;}
%pl10{padding-left:10px;}
%pt10{padding-top:10px;}
%pr10{padding-right:10px;}
%pb10{padding-bottom:10px;}
%p15{padding:15px;}
%pl15{padding-left:15px;}
%pt15{padding-top:15px;}
%pr15{padding-right:15px;}
%pb15{padding-bottom:15px;}
%p20{padding:20px;}
%pl20{padding-left:20px;}
%pt20{padding-top:20px;}
%pr20{padding-right:20px;}
%pb20{padding-bottom:20px;}
%p30{padding:30px;}
%pl30{padding-left:30px;}
%pt30{padding-top:30px;}
%pr30{padding-right:30px;}
%pb30{padding-bottom:30px;}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color */
%bdn{border:none;}
%bdc{border:1px solid #ccc;}
%blc{border-left:1px solid #ccc;}
%brc{border-right:1px solid #ccc;}
%btc{border-top:1px solid #ccc;}
%bbc{border-bottom:1px solid #ccc;}
%bdd{border:1px solid #ddd;}
%bld{border-left:1px solid #ddd;}
%brd{border-right:1px solid #ddd;}
%btd{border-top:1px solid #ddd;}
%bbd{border-bottom:1px solid #ddd;}
%bde{border:1px solid #eee;}
%ble{border-left:1px solid #eee;}
%bre{border-right:1px solid #eee;}
%bte{border-top:1px solid #eee;}
%bbe{border-bottom:1px solid #eee;}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
%bgwh{background-color:#fff;}
%bgfb{background-color:#fbfbfb;}
%bgf5{background-color:#f5f5f5;}
%bgf0{background-color:#f0f0f0;}
%bgeb{background-color:#ebebeb;}
%bge0{background-color:#e0e0e0;}

%bg1f{background-color:#1f2d3d;} /*Black*/
%bg32{background-color:#324057;} /*Light Black*/
%bg47{background-color:#475669;} /*Extra Light Black*/



/* safe color */
%g0{color:#000;}
%g3{color:#333;}
%g6{color:#666;}
%g9{color:#999;}
%gc{color:#ccc;}
%gh{color:white;}
%g37{color:#337ab7;}
/* font-size */
%f0{font-size:0;}
%f12{font-size:12px;}
%f13{font-size:13px;}
%f14{font-size:14px;}
%f16{font-size:16px;}
%f18{font-size:18px;}
%f20{font-size:20px;}
%f24{font-size:24px;}
%f28{font-size:28px;} 
/* font-family */
%fa{font-family:Arial;}
%ft{font-family:Tahoma;}
%fv{font-family:Verdana;}
%fs{font-family:Simsun;}
%fl{font-family:'Lucida Console';}
%fw{font-family:'Microsoft Yahei';}
/* font-style */
%n{font-weight:normal; font-style:normal; white-space: normal;}
%b{font-weight:bold;}
%i{font-style:italic;}
/* text-align */
%tc{text-align:center;}
%tr{text-align:right;}
%tl{text-align:left;}
%tj{text-align:justify;}
/* text-decoration */
%tdl{text-decoration:underline;}
%tdn,%tdn:hover,%tdn a:hover,a%tdl:hover{text-decoration:none;}
/* letter-spacing */
%lt-1{letter-spacing:-1px;}
%lt0{letter-spacing:0;}
%lt1{letter-spacing:1px;}
/* white-space */
%nowrap{white-space:nowrap;}
/* word-wrap */
%bk{word-wrap:break-word;}
/* vertical-align */
%vm{vertical-align:middle;}
%vtb{vertical-align:text-bottom;}
%vb{vertical-align:bottom;}
%vt{vertical-align:top;}
%v-1{vertical-align:-1px;}
%v-2{vertical-align:-2px;}
%v-3{vertical-align:-3px;}
%v-4{vertical-align:-4px;}
%v-5{vertical-align:-5px;}
/* float */
%l{float:left;}
%r{float:right;}
/* clear */
%cl{clear:both;}
/* position */
%rel{position:relative;}
%abs{position:absolute;}
.abs{position:absolute;}
/*z-index*/
%zx1{z-index:1;}
%zx2{z-index:2;}
/* cursor */
%poi{cursor:pointer;}
%def{cursor:default;}
/* overflow */
%ovh{overflow:hidden;}
%ova{overflow:auto;}
/* visibility */
%vh{visibility:hidden;}
%vv{opacity:0;}
/* opacity */
%opa0{opacity:0; filer:alpha(opacity=0);}
%opa0.5{opacity:0.5; filer:alpha(opacity=50);}
/* zoom */
%z{*zoom:1;}
.z{opacity:0;}

/**************************
 *公共
 ***************************/  
@mixin mywidth() {
      @extend  %mn; 
      @extend  %lh3.5;
      @extend  %bgwh;

}

/*产品列表的样式*/
@mixin prduct_content(){
    @extend %bdc; 
    @extend %tl;
   
}

/* 侧边栏a */
@mixin slid-a(){
       @extend  %pch100;
       @extend  %pct100;
       @extend  %dib;
       @extend  %pl10;
       @extend  %tdn;
       @extend  %gh;
        &:hover{
            @extend %opa0.5;
            color: #F9FAFC;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            -webkit-transition: color .3s ease;
            transition: color .3s ease;
        }
       
}


.ol_content{
     @extend %lh2;
}

.ol_contact_pr{
    @include prduct_content;
    @extend %f0;
    @extend %mb1;
    .contants{
        @extend %p2;
        @extend %dib;

    }
  }
.ol_content_detail{
     @include prduct_content;
        border: none;
        @extend %p1;
        @extend %dib;
        @extend %f14;

            img{
               position: relative;
               width: 120%;
               max-width: 10rem;
               top: 1rem;
               left: -1rem;
               
            }

}

.ol_img_cent{
    @extend %tc;

    }

.ol_yes{
  font-size: 60px;
  
}

.ol_worldbreak{
    display: inline-block;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
   
    white-space: nowrap;
    width: 100%;
}


#ol_tc{
  @extend %tc
}
.tools-title{
        @extend %pl1;
      }

.ol_p{
      overflow: hidden;           
      overflow-x: auto;
}

.ol_c{
      min-width: 650px;
      overflow-y: hidden;
      overflow-x: auto;
}



 /**************************
 *具体的样式
 ***************************/    
/* index.vue */
.main-resource{
     @include mywidth;
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
}
.main-contant{
     @include mywidth;
     -webkit-transition: all 0.5s;
      transition: all 0.5s;
} 



/* toolsDetails */

#tools-content{
    @extend %bdn;
    @extend %tl;

}



/* search */
 #appsearch{
    width: 95%;
    @extend %pr15;    

 }


/*personalchange*/

.personal-info-change{
    @include mywidth;
    @extend %bgf5;
}


 .control-label {
    line-height: 1.2;
}

.peson-relation{
    @extend %mb2;
    .panel-heading{
        @extend %bgwh;
        @extend %bbe;

      }
     
    .panel-title:nth-child(2){
        @extend %r;
        @extend %rel;
        top: -1.2rem;
      }
  
}

.peson-relation .peson-relation-datalist{
    @extend %mt1;
    @extend %mb1;
    @extend %lh2.4;
    .itemname{
        @extend %w4.7;
        @extend %db;
        @extend %l;
        @extend %mr1;
        @extend %tj;
           
         }
    .form-control{
        @extend %pct50;

    }
    .dtlitext{
        @extend %pct100;
    }
     
}

.peson-relation {
    .person-buttons{
        @extend %tr;
    }

    .personimg{
        @extend %l;
    }
    .box{
        @extend %l;
        @extend %p2;

    }
}


/*personalshow*/


.personal-info-show{
    @include mywidth;
    @extend %mt-1;
}

.personal-info-world-left{
    @extend %l;
    @extend %pct80;
}
.personal-info-world-right{
    @extend %l;
    @extend %pch100;
    width: 19%;

 
}

.personal-info-show .title {
    margin: 0;
    padding: 0;

}

.column-ch-inf-item {
    @extend %dib;
    
     a{
        list-style: none;
        text-decoration: none;
     
     } 

}

.column-ch-inf-item:nth-child(2) {
     @extend %r;
     @extend %g37;
    

}
         


.pesonal-info-icon{
    @extend %l;
    @extend %p2;
}

 .pesonal-info-icon img{
    height: 16rem;
    width: 16rem;
  
 }


.pesonal-info-world {
    @extend %l;
    @extend %p2;
    width: calc( 100% - 20rem );

}
.pesonal-info-world .panel-heading {
    background-color: #fff;
   }




/*alltools*/

#myTab{
    @extend %bdn;
    @extend %bgwh;

    .item{
        @extend %l;
      }
    
    }


/*application*/
.tools-title{
    @extend %pl1;
      }


/*paginnation*/
.pagin-cont{
    @extend %tc;
 }
#appsearch{
    width: 98%;
    margin: 1.3rem;
 }










/**************************
 *组件样式
 ***************************/   

/* 日历 */
.calendar{
    width:350px;
    margin:0 auto 20px;
    color:#333;
    display: none;
      }
           .calendar table{
                width:100%;
                table-layout:fixed;
                border-collapse: collapse;
                border-spacing: 0;
                text-align: center;
            }
            .calendar caption{
                line-height: 30px;
                text-align: center;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 5px;
            }
            .calendar caption span{
                margin: 0 10px;
            }
            .calendar caption a{
                color:#666;
                margin:0 5px;
                text-decoration: none;
            }
            .calendar td,.calendar th{
                height: 30px;
                line-height: 30px;
                text-align: center;
            }
            .calendar td span{
                display: block;
                width: 30px;
                margin: 0 auto;
                cursor: pointer;
            }
            .calendar .widget-back{
                float: right;
            }
            .calendar .widget-today span{
                font-weight: bold;
            }
            .calendar .widget-disabled span{
                color:#999;
            }
            .calendar .widget-highlight span{
                background: #f7b82e;
                color:#fff;
                border-radius: 30px;
            }
            .calendar .widget-active span{
                background: #39c;
                color:#fff;
                border-radius: 30px;
            }

/********文件树*******/

.tree-content{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
 
  z-index: 10000000;
  vertical-align: middle;
  display:table-cell;   
  text-align: left;
  color: #333333

}
.tree-content .title{
  height: 4rem;
  width: 100%;
  line-height: 2.8;
  padding: 0.4rem 1rem;
  font-weight: bold;
  vertical-align: middle;
  background-color: #eee;
  color: #333;
  position: relative;
  -webkit-font-smoothing: none;
  -webkit-user-select:text;
  user-select: text; 
  border-bottom: 2px solid rgba(0,0,0,.1);
  cursor:move

}

.tree-content .title span + span{
  float: right;

}


.tree-content-main{
  position: absolute;
  width: 48rem;
  left: 50%;
  top: 50%;
  border:4px solid rgba(0, 0, 0, 0.2);
  margin-left: -24rem;
  margin-top: -18rem;
  z-index: 10000000000000;
  background-color: white;
  overflow: hidden;


}

.tree-content-main .tree-folder-content{
  width: 100%;
  height: 21.4rem;
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);

  overflow: hidden;

}
.tree-content-main .tree-folder-content ul, 
.tree-content-main .tree-folder-content li {
  list-style:none; 
  width: 100%;
  padding: 0;
  margin: 0;
}


.tree-content-main .tree-folder-buttons{
   height: 4rem;
  line-height: 2.8;
  padding: 0.4rem 1rem;
  font-weight: bold;
  vertical-align: middle;
  color: #333;
  text-align: center;
  position: relative;
  -webkit-font-smoothing: none;
  -webkit-user-select:text;
  user-select: text; 
  border-top: 1px solid rgba(0,0,0,.1);
  margin: 0 1rem;
   
  
}

.tree-content-main .tree-folder-buttons button{
  width: 14rem;
  text-align: center;

}

.tree-content-main .tree-folder-buttons button:nth-child(1){
  background-color: #337ab7;
    border-color: #2e6da4;
  color: #fff;
}


.tree-folder-content  .item div:hover {
  background-color: #e5f0fb;
  border-color: #BBD4EF #fff;
    border-top-color: rgb(187, 212, 239);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(187, 212, 239);
  border-left-color: rgb(255, 255, 255);

}
.tree-content-main .bg{
   background-color: #e5f0fb;
  border-color: #BBD4EF #fff;
    border-top-color: rgb(187, 212, 239);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(187, 212, 239);
  border-left-color: rgb(255, 255, 255);
}

.tree-content-main .close_tree{
  cursor:pointer;
}
.tree-content-main  li img {
   height: 25px;
   width: 24px;

}

.tree-content-main  .item div {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  

}




 .tree-content-main .tree-icon{
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("../img/icon-tree.png") no-repeat;
  background-position: -30px  0;

}

 .tree-content-main .tree-iconA{
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("../img/icon-tree.png") no-repeat;
  background-position: -30px  -23px;

}


 /*弹窗*/

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header,.modal-footer{
  border: none;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}
/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


           







 
 

